[submodule "RSSIData"]
	path = RSSIData
	url = https://llcad-github.llan.ll.mit.edu/ccorey/RSSIData.git
[submodule "datasets/H0H1"]
	path = datasets/H0H1
	url = https://github.com/mitll/H0H1.git
[submodule "datasets/Range_Angle"]
	path = datasets/Range_Angle
	url = https://github.com/mitll/Range_Angle.git
[submodule "datasets/PACTTemplateDataset"]
	path = datasets/PACTTemplateDataset
	url = https://github.com/mitll/PACTTemplateDataset.git
[submodule "datasets/BLE-RSSI-Various-Static-Configurations"]
	path = datasets/BLE-RSSI-Various-Static-Configurations
	url = https://github.com/mitll/BLE-RSSI-Various-Static-Configurations.git
[submodule "datasets/PACT-Phones-and-Bluetooth-Chipsets"]
	path = datasets/PACT-Phones-and-Bluetooth-Chipsets
	url = https://github.com/mitll/PACT-Phones-and-Bluetooth-Chipsets.git
[submodule "datasets/KRI-Anechoic-Chamber-Dataset"]
	path = datasets/KRI-Anechoic-Chamber-Dataset
	url = https://github.com/mitll/KRI-Anechoic-Chamber-Dataset
[submodule "datasets/MIT-Matrix-Data"]
	path = datasets/MIT-Matrix-Data
	url = https://github.com/mitll/MIT-Matrix-Data.git
